<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="./src/jquery.min.js"></script>
    </head>
    <body>
        <h1>Which one are you?</h1><br>
        <a href="./student">Student</a><br>
        <a href="./tutor">Tutor</a><br><br>
        <h1>If you are already registered you can also...</h1><br>
        <a href="./yourbalance">Check your balance</a><br>
        <a href="./manageinvoices">Manage your invoices</a><br>
        <a href="./createinvoice">Create an Invoice</a><br>
        <p>Optionally you can choose to be a guest</p>
        <p>Note guest functionality not available yet</p>
        <a href="./guest">Guest</a>
    </body>
</html>