<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script src="./src/jquery.min.js"></script>
    </head>
    <body>
        <h1>Are you registered is not click the link below</h1><br>
        <a href="./registerusername">You can get registered and choose a username here</a><br>
        <p><b>After you are registered please select which one you are</b></p>
        <a href="./student">Student</a><br>
        <a href="./tutor">Tutor</a><br><br>
        <h1>If you are already registered you can also...</h1><br>
        <a href="./yourbalance">Check your balance</a><br>
        <a href="./manageinvoices">Manage your invoices</a><br>
        <a href="./createinvoice">Create an Invoice</a><br>
        <h1>For development purposes the following links are also useful</h1><br>
        <a href="./src">src directory of static content</a><br>
        <a href="./src/faucet.html">Faucet that works on localhost</a><br>
        <p>Optionally you can choose to be a guest</p>
        <p>Note guest functionality not available yet</p>
        <a href="./guest">Guest</a>
    </body>
</html>