<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <script src="./src/jquery.min.js"></script>
    <script src="./src/javascript/testmetamask.js"></script>
</head>

<body>
    <h1>Student</h1>
    <br>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>It looks like you do not have metamask installed</p>
            <p>metamask can be installed <a href="https://metamask.io/">here</a></p>
        </div>
    </div>
</body>

</html>