<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <script src="./src/jquery.min.js"></script>
        <script src="./src/javascript/testmetamask.js"></script>
        <script src="/src/smartContracts/ImportSmartContract.js"></script>
        <script src="./src/javascript/registerstudent.js"></script>
        <script src="/src/javascript/indextutors.js"></script>
        <link rel="stylesheet" type="text/css" href="/src/css/tutorsearch.css">
    </head>

<body>
    <h1>Student</h1>
    <br>
</body>

</html>