<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <script src="./src/jquery.min.js"></script>
    <script src="./src/javascript/testmetamask.js"></script>
    <script src="/src/smartContracts/ImportSmartContract.js"></script>
    <script src="./src/javascript/registertutor.js"></script>

    <script>
    </script>
</head>

<body>
    <h1>Tutor</h1>
    <br>
    <button onclick="javascript:ContractsVariablesDeployed()">ContractsVariablesDeployed()</button>
</body>

</html>